<h1>Random Calculation</h1>
<form action="http://localhost:3000/random/results">
  <div>

    <label for="user_minimum">
      Minimum
    </label>

    <input id="user_minimum" type="text" name="minimum">
  </div>
  <div>

    <label for="user_maximum">
      Maximum
    </label>

    <input id="user_maximum" type="text" name="maximum">
  </div>
  <div>

  <button>Pick random number</button>
</form>
