<h1>Square root Calculations</h1>

<form action="http://localhost:3000/square_root/results">
  <div>
    <label for="user_number">
      Enter a number
    </label>
    <input id="user_number" type="text" name="user_input">
  </div>
  <button>Calculate square root</button>
</form>
